* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.index {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  color: black;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.home {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 10px;
}
